header.header 
    nav.nav.nav--tours
        a.nav__el(href='#') All tours
    //- creates div elemet
    .header__logo
        img(src='img/logo-white.png', alt='logo')
    nav.nav.nav--user
        //- a.nav__el(href='#') My Bookings
        //- a.nav__el(href='#') 
        //-     img.nav__user-img(src='img/user.jpg', alt='User photo')
        //-     span Jane Doe 
        button.nav__el.nav_el--cta Log In
        button.nav__el.nav_el--cta Sign Up 